body {
    font-family: Arial, sans-serif;
    background-color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.modal-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
}

.modal-subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input{
    width: 96%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.cancel-btn {
    background: #f0f0f0;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    background: black;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}